<header class="am-topbar am-topbar-fixed-top am-topbar-inverse">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="/">Unique Lab</a>
        </h1>

        <div class="am-collapse am-topbar-collapse" id="topbar">
            <% if (isLogin) { %>
            <div class="am-topbar-right">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a><%= loginUsername %></a></li>
                </ul>
            </div>

            <% } %>

        </div>
</header>