<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/amazeui.min.css" />
    <style>
        .banner2 {
            background: #10a0ea;
            /* background: #000; */
            color: #fff;
            text-align: center;
            padding: 200px 0;
        }

        .banner2-title {
            font-size: 200%;
            border: 2px solid rgb(255, 255, 255);
            padding: 20px;
            display: inline-block;
        }

        .join-btn {
            background: #fff;
            color: rgb(0, 0, 0);
        }
    </style>

    <title>Unique Lab</title>
</head>

<body>
    <% include header.html %>

    <div class="banner2">
        <div class="am-g">
            <div class="am-u-lg-3  am-u-sm-centered">
            <h2 class=banner2-title>Unique Lab Recruit</h2>
            <form method="post" class="am-form">
                <label for="username">姓名</label>
                <input type="text" name="name" id="name" value="">
                <br>
                <label for="stuNo">学号</label>
                <input type="text" name="stuNo" id="stuNo" pattern="U[0-9]{9}" value="">
                <br>

                <label for="captcha">验证码</label>
                <input type="text" name="captcha" id="captcha" value="">
                <br>
                <img src="/captcha" onclick={$(event.target).attr('src','/captcha?'+Math.random())}>
                <br>
                <% if(msg){ %>
                    <h4><%= msg %></h4>
                <% } else { %>
                <br>
                <% } %>
                <input type="submit" name="" value="加入我们" class="am-btn am-btn-success am-u-lg-centered am-btn-sm am-fl">
            </form>
        </div>
        </div>
    </div>
    <% include footer.html %>


    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/amazeui.min.js"></script>
</body>

</html>