<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/amazeui.min.css" />

    <title>L3H CTF</title>
</head>

<body>
    <% include header.html %>
    <br>
    <br>
    <div class="am-g am-u-lg-4 am-u-lg-centered" style="min-height: 93%">
        <table class="am-table am-table-bordered">
            <thead>
                <tr>
                    <td>排名</td>
                    <td>用户名</td>
                    <td>分数</td>
                </tr>
            </thead>
            <tbody>
                <% records.forEach(function(record){ %>
                    <tr <% if(record.isSelf) { %> class="am-active" <% } %> >
                        <td><%= record.rank %></td>
                        <td><%= record.username %></td>
                        <td><%= record.score %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
    </div>
<% include footer.html %>
</body>


<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/amazeui.min.js"></script>
</html>