<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/amazeui.min.css" />

    <title>L3H CTF</title>
</head>

<body>
    <% include header.html %>

    <div class="am-g" style="min-height: 93%">
        <div class="am-u-lg-3 am-u-md-8 am-u-sm-centered">
            <br>
            <h2>注册</h2>
            <hr>
            <form method="post" class="am-form">
                <label for="username">用户名:</label>
                <input type="text" name="username" id="username" value="">
                <br>
                <label for="password">密码:</label>
                <input type="password" name="password1" id="password" value="">
                <br>
                <label for="password">确认密码:</label>
                <input type="password" name="password2" id="password" value="">
                <br>
                <label for="stuId">专业年级姓名学号<br>例如: 网安19卢本伟U201912345 <br>外校同学请留空</label>
                <input type="text" name="stuId" id="stuId" value="">
                <br>
                <label for="captcha">验证码:</label>
                <input type="text" name="captcha" id="captcha" value="">
                <br>
                <img src="/captcha" onclick={$(event.target).attr('src','/captcha?'+Math.random())}>
                <br>
                <h4><%= Message %></h4>
                <div class="am-cf">
                    <input type="submit" name="" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
                </div>
            </form>
            <hr>
        </div>
        
    </div>
<% include footer.html %>
    
    
</body>


<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/amazeui.min.js"></script>
</html>