<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/amazeui.min.css" />
    <style>



    </style>

    <title>Unique Lab</title>
</head>

<body>
    <% include header.html %>

    <br>
    <div class="am-g am-g-fixed blog-g-fixed" style="min-height: 93%">
        <div class="am-u-md-8">
            <form method="post" class="am-form">
                <% var ansIndex=0; posts.forEach(function(post) { ansIndex = ansIndex + 1 %>
                <article class="blog-main">
                    <h3 class="am-article-title blog-title">
                        <p><%= post.title %></p>
                    </h3>

                    <div class="am-g blog-content">
                        <div class="am-u-lg-7">
                            <p>
                                <%= post.content %>
                            </p>

                            <% if(post.ansType == "1"){ var choiceIndex = 0 %>
                            
                                <% post.ans.split("|||").forEach(function(choice){ choiceIndex = choiceIndex + 1 %>
                                <div class="am-radio">
                                <label>
                                    <input type="radio" name="radio_<%= ansIndex %>" value="<%= choiceIndex %>"><%= choice %>
                                </label>
                                </div>
                                <% }); %>
                            
                            <% } else if(post.ansType == "2") { var choiceIndex = 0 %>

                                <% post.ans.split("|||").forEach(function(choice){ choiceIndex = choiceIndex + 1 %>
                                <div class="am-checkbox">
                                <label>
                                    <input type="checkbox" name="checkbox_<%= ansIndex %>[]" value="<%= choiceIndex %>"><%= choice %>
                                </label>
                                </div>
                                <% }); %>
                            <% } else if(post.ansType == "3") { %>
                                <textarea rows="5" type="text" name="textans_<%= ansIndex %>" id="ans<%= ansIndex %>" value=""></textarea>
                            <% } %>
                        </div>
                    </div>

                </article>
                <hr>

                <% }); %>
                <button type="submit" class="am-btn am-btn-success">提交</button>
            </form>
        </div>
    </div>
    <% include footer.html %>

    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/amazeui.min.js"></script>
</body>

</html>